@import "tailwindcss";

@theme {
  --color-app: #212121;
  --color-sidebar: #181818;
  --color-chat: #303030;
}

/* Scrollbar (Firefox) */
* {
  scrollbar-width: thin;
  scrollbar-color: #303030 var(--color-sidebar);
}

/* Scrollbar (WebKit) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-sidebar);
}
::-webkit-scrollbar-thumb {
  background-color: #565869;
  border-radius: 8px;
  border: 1px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6b6e7a;
}
